{$DOMAIN:localhost} {
	handle_path /_next/static* {
		reverse_proxy website:3000
	}

	handle_path /static* {
		reverse_proxy website:3000
	}

	reverse_proxy / website:3000
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri}
}
